<div class="filter-sidebar-container">
  <ul class="list-group">
      <!-- Location -->
      <li class="list-group-item">
        <h5>Location</h5>
        <!-- Search form -->
        <div class="md-form">
            <input class="form-control" type="text" placeholder="Toronto, Ontario" aria-label="Search">
        </div>
      </li>
      <!-- Sport -->
      <li class="list-group-item">
        <h5>Sport</h5>
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="Soccer">
            <label class="custom-control-label" for="Soccer">Soccer</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="Hockey">
            <label class="custom-control-label" for="Hockey">Hockey</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="Lacrosse">
            <label class="custom-control-label" for="Lacrosse">Lacrosse</label>
        </div>
      </li>
      <!-- Price -->
      <li class="list-group-item">
        <h5>Price</h5>
        0 - $180
      </li>
  </ul>
  
</div>
